@font-face {
	font-family: news cycle;
	src:url('../fonts/newscycle-regular.ttf');
}

@font-face{
	font-family: raleway;
	src: url('../fonts/Raleway Thin.ttf');
}

html{
	height: 100%;
}

body{
	font-family: news cycle;
	background-color: #F2F2F2;
	
	/*
	background-image: -moz-linear-gradient(top, #F2F2F2, #048ABF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#048ABF));
	background-image: -webkit-linear-gradient(top, #F2F2F2, #048ABF);
	background-image: -o-linear-gradient(top, #F2F2F2, #048ABF);
	background-image: linear-gradient(to bottom, #F2F2F2, #048ABF);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#048ABF', GradientType=0);
	*/
}

.settings{
	position: absolute;
	width: 200px;
	height: 100px;
	top: 50px;
	right: 0px;
	display: none;
	z-index: 20000;

	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #F2F2F2;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > li > a {
color: #F2F2F2;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-left: 1px solid #048ABF;
}

h1,
h2,
h3,
h4,
h5{
	font-family:  raleway;
	position: relative;
}

.anchor{
	position:absolute;
	top:-50px;
	
} /*fixed header anchor issue*/


.container{
	background-color: #FFFFFF; 
	box-shadow: 1px 2px 2px #D4D4D4;
	margin-top: 20px;
	font-size: 17px;
	font-weight: 200;
	line-height: 28px;
}

.rightband{
	padding-right: 20px;
	border-right: 15px solid #8CBF3F;

}

.leftband{
	padding-left: 20px;
	border-left: 15px solid #8CBF3F;
}

.span2, .span3, .span4, .span5, .span6{
	padding: 10px;
	margin-top: 20px;
}

.customNav{
	padding-left: 20px;
	background-color: #027bb3;
	background-image: -moz-linear-gradient(top, #048abf, #0065a0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#048abf), to(#0065a0));
	background-image: -webkit-linear-gradient(top, #048abf, #0065a0);
	background-image: -o-linear-gradient(top, #048abf, #0065a0);
	background-image: linear-gradient(to bottom, #048abf, #0065a0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#048abf', endColorstr='#0065a0', GradientType=0);
	border: 0px solid #003e63;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	text-color: black;
	font-size: 18px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: #ffffff;
background-color: #8CBF3F;
}

.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0065A0, #048ABF);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0065A0), to(#048ABF));
background-image: -webkit-linear-gradient(top, #0065A0, #048ABF);
background-image: -o-linear-gradient(top, #0065A0, #048ABF);
background-image: linear-gradient(to bottom, #0065A0, #048ABF);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0065A0', endColorstr='#ff048ABF', GradientType=0);
border-color: #048ABF #048ABF #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
	
.navbar-inverse .btn-navbar {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #0065A0;
background-image: -moz-linear-gradient(top, #0065A0, #048ABF);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0065A0), to(#048ABF));
background-image: -webkit-linear-gradient(top, #0065A0, #048ABF);
background-image: -o-linear-gradient(top, #0065A0, #048ABF);
background-image: linear-gradient(to bottom, #0065A0, #048ABF);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0065A0', endColorstr='#ff048ABF', GradientType=0);
border-color: #048ABF #048ABF #F2F2F2;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
color: #ffffff;
background-color: #0065A0;
}

.customLi{
	background-color: #f2f2f2; 
	box-shadow: 1px 2px 2px #D4D4D4;
	padding: 5px;
	margin: 1px;
	list-style-type:none;
}

.neutralList{
	list-style-type:none;
	padding: 1ex;
	margin: 0.5ex;
}

pre{
	background-color: #f2f2f2; 
	box-shadow: 1px 2px 2px #D4D4D4;
	padding: 5px;
	margin: 1px;
	border:0px;
}

.spans5{

	background-color: #f2f2f2; 
	box-shadow: 1px 2px 2px #D4D4D4;
	padding: 5px !important;
	margin: 10px !important;
	border:0px;
	width:100%;
}
.spans6
{

	background-color: #f2f2f2; 
	box-shadow: 1px 2px 2px #D4D4D4;
	padding: 5px !important;
	margin: 10px !important;
	border:0px;
	width:60% !important;
	float:left;
}

.spans7
{

	background-color: #f2f2f2; 
	box-shadow: 1px 2px 2px #D4D4D4;
	padding: 5px !important;
	margin: 10px !important;
	border:0px;
	width:36% !important;
	float:right;
}
.prof_lis
{
	margin-top:10px;
	
}
.prof_lis_sub
{
	/*width:40% !important;
	border: 1px solid black;*/
	display:inline;
	float:left;
	width: 320px;
	margin:5px;
}
.profi_inf
{
	width:100% !important;
	border: 1px solid #e9eaed;
	box-shadow: 1px 2px 2px #fff;
}
.profile_name
{
	margin-left:10px;
	color:#3b5998 !important;
	margin-top:20px;
	font-size:16px;

}
.prof_activity
{
display:inline;
}
.profile_name_sub
{
	border-bottom: 1px solid #e9eaed;
	box-shadow: 1px 2px 2px #fff;
	padding-bottom:15px;
}
.loadingIndicator{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
