/*
* This file is subject to the terms and conditions defined in
* file 'LICENSE', which is part of this source code package.
*/

.chart div {
  font: 10px sans-serif;
  background-color: #027bb3;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart {
  margin-top: 175px;
}