body {
margin-top: 18px;
padding-bottom: 42px;
padding-top: 18px;
}

.sensorswitch{
  position:absolute; 
  left:10px; 
  bottom:10px; 
  z-index:10000;  
}

.legend {
  width: 20px;
  height: 20px;
}

img.olTileImage {
  max-width: none;
}
.olControlAttribution{
  bottom:0px;
}

.full-map
{
    height: 500px;
    width: 100%;
}

.simple-map
{
    position: relative;
    height: 400px;
    width: 100%;
}