
@media (min-width: 767px){
  .graph-selection {
    white-space: nowrap;
    width: 420px;
  }
}


@media (max-width: 767px){
  .graph-selection {
    white-space: nowrap;
    width: 210px;
  }
}


#graph-dropdown {
  position: absolute;
  right: 20px;
}

.graph-span {
  position: relative;
}
.share-buttons {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

#route-information-container {
    position:relative;
}

.navbar {
  margin-bottom: 0px;
}

@media (min-width: 980px){
  #full-map-span {
    margin-top: -5px;
  }
}


.sensorswitch {
  position:absolute; 
  left:10px; 
  bottom:10px; 
  z-index:10000;  
}

.legend {
  width: 20px;
  height: 20px;
}

img.olTileImage {
  max-width: none;
}
.olControlAttribution {
  bottom:0px;
}

.full-map {
    height: 500px;
    width: 100%;
}

.simple-map {
    position: relative;
    height: 400px;
    width: 100%;
}

#legend {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10000;  
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 0px;
  padding: 5px;
}

#legend > img {
  display: table;
}

.legend {
  width: 10px;
  height: 10px;
}

#legend > p {
  margin-bottom: 5px;
}

.olControlAttribution {
  top: 0em;
}

#enviroCar-license {
  position: absolute;
  top: 1.5em;
  right: 4px;
  font-size: 12px;
  z-index: 9999;
}

.olMap.full-map > #enviroCar-license {
  top: 4.5em;
}

.btn-group.btn {   border: 0;   padding: 0; }
.btn-group.btn > .btn { border-radius: 0 }
.btn-group.btn > .dropdown-menu {  text-align: left; }
.btn-group.btn:first-child > .btn {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.btn-group.btn:last-child > .btn {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.dropdown-menu {
  border-radius: 0px;
}

#statistics {
  list-style: none;
}

#statistics > li {
  padding-top: 10px;
}