/*
* This file is part of enviroCar.
* 
* enviroCar is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* enviroCar is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with enviroCar.  If not, see <http://www.gnu.org/licenses/>.
*/

.legend {
  width: 20px;
  height: 20px;
}

.affix {
    top: 50%;
}

a { display: inline-block; }

.progress {
  margin: 0px;
}

td.vmid {
  vertical-align: middle;
}
tr.h {
  height: 116px;
}

.trip_info {
	border-right: 1px solid #eeeeee;
}

.table th, .table td { 
     border-top: none; 
 }

li {
    list-style-type: none;
}

.well {
	padding: 10px;
	margin-left: 0px;
}

.row {
	padding: 0px 0px 0px 20px;
}

.listing {
	margin-left: 0px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
    	margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
      color: black;
    }

    .carousel-control:hover {
    	color: black;
    }

    .carousel .item {
      height: 200px;
    }


    .carousel-caption {
      background-color: transparent;
      position: relative;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }